body {
  background-image: url("./images/app-background-image.jpg");
  background-position: center;
  background-size: cover;
  max-height: 100vh;
}

.container {
  max-width: 575px;
  height: 100vh;
  margin: 0 auto;
  font-family: Orbitron, sans-serif;
  background-color: #f1f3f5;
  overflow-y: auto;
}

.container-sign-in {
  background-color: rgb(0 0 0 / 60%);
  max-width: 575px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Orbitron, sans-serif;
  z-index: 0;
}

.nav-bar {
  max-width: 575px;
  margin: 0 auto;
  font-family: Orbitron, sans-serif;
  position: relative;
}

.row {
  display: flex;
}

.hidden {
  display: none !important;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.col-half,
.col-one-third,
.col-three-fifth,
.col-four-fifth,
.col-two-fifth,
.col-full {
  width: 100%;
  padding: 0 0.75rem;
}

.col-nine-tenth {
  width: 90%;
  padding: 0 0.75rem;
}

.col-one-tenth {
  width: 20%;
  padding: 0 0.75rem;
}

.mg-b-1 {
  margin-bottom: 1rem;
}

.mg-t-75 {
  margin-top: 0.75rem;
}

.mg-t-150 {
  margin-top: 2.5rem;
}

.mg-r-75 {
  margin-right: 0.75rem;
}

.mg-l-75 {
  margin-left: 0.75rem;
}

.no-dec {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .container,
  .container-sign-in,
  .nav-bar {
    max-width: 900px;
  }

  .col-half,
  .col-one-third,
  .col-one-tenth,
  .col-three-fifth,
  .col-four-fifth,
  .col-two-fifth,
  .col-nine-tenth,
  .col-full {
    padding: 0 0.75rem;
  }

  .col-one-tenth {
    width: 10%;
  }

  .col-one-third {
    width: 30%;
  }

  .col-half {
    width: 50%;
  }

  .col-four-fifth {
    width: 80%;
  }

  .col-three-fifth {
    width: 60%;
  }

  .col-two-fifth {
    width: 40%;
  }

  .col-nine-tenth {
    width: 90%;
  }

  .col-full {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .container,
  .container-sign-in,
  .nav-bar {
    max-width: 1200px;
  }

  .col-half,
  .col-one-third,
  .col-one-tenth,
  .col-three-fifth,
  .col-four-fifth,
  .col-two-fifth,
  .col-nine-tenth,
  .col-full {
    padding: 0 0.75rem;
  }

  .col-one-tenth {
    width: 10%;
  }

  .col-one-third {
    width: 30%;
  }

  .col-half {
    width: 50%;
  }

  .col-four-fifth {
    width: 80%;
  }

  .col-three-fifth {
    width: 60%;
  }

  .col-two-fifth {
    width: 40%;
  }

  .col-nine-tenth {
    width: 90%;
  }

  .col-full {
    width: 100%;
  }
}
