body {
  background-image: url("./images/150-1508074_black-and-white-music-headphones-life-hd-grayscale.jpg");
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 575px;
  height: 100vh;
  margin: 0 auto;
  font-family: Orbitron, sans-serif;
  background-color: #f1f3f5;
  overflow-y: auto;
}

.container-sign-in {
  background-color: rgb(0 0 0 / 60%);
  max-width: 575px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Orbitron, sans-serif;
  z-index: 0;
}

.nav-bar {
  max-width: 575px;
  margin: 0 auto;
  font-family: Orbitron, sans-serif;
  position: relative;
}

.row {
  display: flex;
}

.hidden {
  display: none !important;
}

.col-half,
.col-one-third,
.col-three-fifth,
.col-four-fifth,
.col-two-fifth {
  width: 100%;
  padding: 0 0.75rem;
}

.mg-b-1 {
  margin-bottom: 1rem;
}

.no-dec {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .container,
  .container-sign-in,
  .nav-bar {
    max-width: 900px;
  }

  .col-half,
  .col-one-third,
  .col-three-fifth,
  .col-four-fifth,
  .col-two-fifth {
    padding: 0 0.75rem;
  }

  .col-one-third {
    width: 30%;
  }

  .col-half {
    width: 50%;
  }

  .col-four-fifth {
    width: 80%;
  }

  .col-three-fifth {
    width: 60%;
  }

  .col-two-fifth {
    width: 40%;
  }
}

@media screen and (min-width: 1280px) {
  .container,
  .container-sign-in,
  .nav-bar {
    max-width: 1200px;
  }

  .col-half,
  .col-one-third,
  .col-three-fifth,
  .col-four-fifth,
  .col-two-fifth {
    padding: 0 0.75rem;
  }

  .col-one-third {
    width: 30%;
  }

  .col-half {
    width: 50%;
  }

  .col-four-fifth {
    width: 80%;
  }

  .col-three-fifth {
    width: 60%;
  }

  .col-two-fifth {
    width: 40%;
  }
}
